html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
  -ms-overflow-style: none;
  overflow-x: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar { 
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
