@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 85%;
  line-height: $base-line-height;

  @include breakpoint("x-small") {
    font-size: 95%;
  }

  @include breakpoint("small") {
    font-size: 100%;
  }  
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font-family;
  font-weight: 500;
  line-height: $heading-line-height;
  margin: 0 0 $spacing-half;
}

h1 {
  font-size: modular-scale($modular-scale-increment-h1, $base-modular-scale-base, $modular-scale-ratio);

  @include breakpoint("x-small") {
    font-size: modular-scale($modular-scale-increment-h1, $modular-scale-base-x-small, $modular-scale-ratio);
  }

  @include breakpoint("small") {
    font-size: modular-scale($modular-scale-increment-h1, $modular-scale-base-small, $modular-scale-ratio);
  }

  @include breakpoint("medium") {
    font-size: modular-scale($modular-scale-increment-h1, $modular-scale-base-medium, $modular-scale-ratio);
  }

  @include breakpoint("large") {
    font-size: modular-scale($modular-scale-increment-h1, $modular-scale-base-large, $modular-scale-ratio);
  }
}

h2 {
  font-size: modular-scale($modular-scale-increment-h2, $base-modular-scale-base, $modular-scale-ratio);

  @include breakpoint("x-small") {
    font-size: modular-scale($modular-scale-increment-h2, $modular-scale-base-x-small, $modular-scale-ratio);
  }

  @include breakpoint("small") {
    font-size: modular-scale($modular-scale-increment-h2, $modular-scale-base-small, $modular-scale-ratio);
  }

  @include breakpoint("medium") {
    font-size: modular-scale($modular-scale-increment-h2, $modular-scale-base-medium, $modular-scale-ratio);
  }

  @include breakpoint("large") {
    font-size: modular-scale($modular-scale-increment-h2, $modular-scale-base-large, $modular-scale-ratio);
  }
}

h3 {
  font-size: modular-scale($modular-scale-increment-h3, $base-modular-scale-base, $modular-scale-ratio);

  @include breakpoint("x-small") {
    font-size: modular-scale($modular-scale-increment-h3, $modular-scale-base-x-small, $modular-scale-ratio);
  }

  @include breakpoint("small") {
    font-size: modular-scale($modular-scale-increment-h3, $modular-scale-base-small, $modular-scale-ratio);
  }

  @include breakpoint("medium") {
    font-size: modular-scale($modular-scale-increment-h3, $modular-scale-base-medium, $modular-scale-ratio);
  }

  @include breakpoint("large") {
    font-size: modular-scale($modular-scale-increment-h3, $modular-scale-base-large, $modular-scale-ratio);
  }
}

h4 {
  font-size: modular-scale($modular-scale-increment-h4, $base-modular-scale-base, $modular-scale-ratio);

  @include breakpoint("x-small") {
    font-size: modular-scale($modular-scale-increment-h4, $modular-scale-base-x-small, $modular-scale-ratio);
  }

  @include breakpoint("small") {
    font-size: modular-scale($modular-scale-increment-h4, $modular-scale-base-small, $modular-scale-ratio);
  }

  @include breakpoint("medium") {
    font-size: modular-scale($modular-scale-increment-h4, $modular-scale-base-medium, $modular-scale-ratio);
  }

  @include breakpoint("large") {
    font-size: modular-scale($modular-scale-increment-h4, $modular-scale-base-large, $modular-scale-ratio);
  }
}


p {
  margin: 0 0 $spacing-half;
}

a {
  color: $color-weather-blue;
  text-decoration: none;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: $color-simple-red;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

main a {
  font-weight: 500;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
