// Typography
$base-font-family: 'Rubik', sans-serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.2;

// Spacing
$base-spacing: 1.5rem;
$half-spacing: $base-spacing / 2;
$quarter-spacing: $base-spacing / 4;
$double-spacing: $base-spacing * 2;
$triple-spacing: $base-spacing * 3;
$quadruple-spacing: $base-spacing * 4;

$big-base-spacing: 35rem;

// Z-Index
$base-z-index: 0;
$level-1-z-index: 1;

// Other Sizes
$base-border-radius: 3px;

// Colors
$color-mortar-purple: #4C4053;
$color-simple-red: #EB4034;
$color-dark-grey: #6D6C71;
$color-kim-beige: #E1D0CA;
$color-mid-grey: #B8B8B8;
$color-light-grey: #E8E8E8;
$color-white-grey: #F8F8F8;

// Font Colors
$base-font-color: $color-mortar-purple;
$action-color: $color-simple-red;

// Border
$base-border-color: $color-mid-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: transparentize($color-kim-beige, 0.6);

// Focus
$focus-outline-color: $action-color;
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
