// Typography
$base-font-family: 'Rubik', sans-serif;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$color-mortar-purple: #4C4053;
$color-weather-blue: #29508A;
$color-dark-grey: #6D6C71;
$color-mid-grey: #C8C8C8;
$color-light-grey: #F0F0F0;
$color-white-grey: #F8F8F8;
$color-kim: #E1D0CA;

// Font Colors
$base-font-color: $color-mortar-purple;
$action-color: $color-weather-blue;

// Border
$base-border-color: $color-mid-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: $color-white-grey;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
