// Breakpoints
$breakpoints: (
  x-small: 20em,
  small: 40em,
  medium: 60em,
  large: 80em
);

// Typography
$base-font-family: 'Rubik', sans-serif;
$heading-font-family: $base-font-family;
$modular-scale-ratio: $major-second;

// Modular Scale Bases
$base-modular-scale-base: 0.8rem;
$modular-scale-base-x-small: $base-modular-scale-base * 1.1;
$modular-scale-base-small: $base-modular-scale-base * 1.3;
$modular-scale-base-medium: $base-modular-scale-base * 1.4;
$modular-scale-base-large: $base-modular-scale-base * 1.5;

// Modular Scale Increments
$modular-scale-increment-h1: 6;
$modular-scale-increment-h2: 4;
$modular-scale-increment-h3: 2;
$modular-scale-increment-h4: 1;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.2;

// Spacing
$base-spacing: 1.5rem;
$spacing-half: $base-spacing / 2;
$spacing-quarter: $base-spacing / 4;
$spacing-2x: $base-spacing * 2;
$spacing-3x: $base-spacing * 3;
$spacing-4x: $base-spacing * 4;

$spacing-big: $base-spacing * 23;

// Z-Index
$base-z-index: 0;
$z-index-level-1: 1;
$z-index-level-2: 2;
$z-index-level-3: 3;

// Other sizes
$base-border-radius: 0.25rem;

// Colors
$color-almost-black-transparent: rgba(20,20,21,0.90);
$color-almost-black: #141415;
$color-simple-red: #df2316;
$color-weather-blue: #2b64ad;
$color-dark-grey: #333;
$color-mid-grey: #b8b8b8;
$color-light-grey: #e4e4e4;
$color-white-grey: #f8f8f8;

// Font Colors
$base-font-color: $color-almost-black;
$action-color: $color-simple-red;

// Border
$base-border-color: $color-mid-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: $color-almost-black;

// Focus
$focus-outline-color: $action-color;
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
