<img src="/assets/images/doge.jpg" alt="A picture of doge with the words 'Much Site', 'Such Gear', and 'Wow' overlayed.">
<p><%= data.footer.site_footer__line1 %></p>
<p><%= data.footer.site_footer__line2 %></p>

