<div class="nav" data-header-nav>
  <button class="menu-button" data-nav-toggle>Menu</button>
  <div class="nav__items" data-nav-items>
    <ul class="nav__category">
      <h4 class="nav__category-title">Outboard Hardware</h4>
      <% data.items.outboard_hardware.each do |item| %>
        <li class="nav__item"><a href="#<%= parameterize(item["item__name"]) %>"><%= item["item__name"] %></a></li>
      <% end %>
      <h4 class="nav__category-title">Synthesizers</h4>
      <% data.items.synthesizers.each do |item| %>
        <li class="nav__item"><a href="#<%= parameterize(item["item__name"]) %>"><%= item["item__name"] %></a></li>
      <% end %>
    </ul>
  </div>
</div>
