<div class="header__nav" data-header__nav>
  <ul>
    <% data.items.each do |item| %>
      <li class="header__item"><a href="#<%= parameterize(item["item__name"]) %>"><%= item["item__name"] %></a></li>
    <% end %>
  </ul>
</div>
