<div class="item" id="<%= parameterize(item["item__name"]) %>">

  <div class="item__main">
    <h2 class="item__name"><%= item["item__name"] %></h2>
    <img class ="item__image" src="/assets/images/<%= item["item__image"] %>" alt="">
  </div>

  <p class="item__description"><%= item["item__description"] %></p>

</div>
