<div class="items"> 
  <% data.items.sections.each do |section| %>
    <h2 class="item-category-title" id="<%= parameterize(section["category"]) %>"><%= section["category"] %></h2>
  	<% section.items.each do |item| %>
  	  <%= partial "partials/item", locals: { item: item } %>
  	<% end %>
  <% end %>
</div>
