<div class="item" id="<%= parameterize(item["item__name"]) %>">

  <div class="item__main">
    <h2><%= item["item__name"] %></h2>
    <img src="/assets/images/<%= item["item__image"] %>" alt="">
  </div>

  <p><%= item["item__description"] %></p>

</div>
