<nav class="nav" data-header-nav>
  <button class="menu-button" data-nav-toggle>Menu</button>
  <div class="nav__items scroll-arrow" data-nav-items>
    <dl class="nav__list" data-nav-list>
      <% data.items.sections.each do |section| %>
        <dt class="nav__category-title">
        <%= link_to(
            section["category"],
            "#" + parameterize(section["category"]),
          ) %>  
        </dt>
        <% section.items.each do |item| %>
          <dd class="nav__item">
          <%= link_to(
            item["item-name"],
            "#" + parameterize(item["item-name"]),
          ) %>
        </dd>
        <% end %>
      <% end %>
    </dl>
  </div>
</nav>
