<nav class="nav" data-header-nav>
  <button class="menu-button" data-nav-toggle>Menu</button>
  <div class="nav__items scroll-arrow" data-nav-items>
    <dl class="nav__list">
      <dt class="nav__category-title">Outboard Hardware</dt>
      <% data.items.outboard_hardware.each do |item| %>
        <dd class="nav__item">
          <%= link_to(
            item["item__name"],
            "#" + parameterize(item["item__name"]),
          ) %>
        </dd>
      <% end %>
      <dt class="nav__category-title">Synthesizers</dt>
      <% data.items.synthesizers.each do |item| %>
        <dd class="nav__item">
          <%= link_to(
            item["item__name"],
            "#" + parameterize(item["item__name"]),
          ) %>
        </dd>
      <% end %>
    </dl>
  </div>
</nav>
