<div class="site-info" data-site-info>  
  <h1 class="site-info__title">
    <%= data.site_info.site_info__title %>
  </h1>

  <p class="site-info__description">
    <%= data.site_info.site_info__description %>
  </p>
</div>
