.footer {
  color: $color-dark-grey;
  max-width: $spacing-big * 1.5;
  padding: $base-spacing 0 $base-spacing;
  text-align: left;

  @include breakpoint("small") {
    padding-top: $spacing-2x;
  }

  &::before {
    background-color: $color-dark-grey;
    content: "";
    display: block;
    height: 2px;
    margin: 0 0 $spacing-2x;
    width: 2rem;
  }

  img {
    border-radius: $base-border-radius;
    margin-bottom: $base-spacing;
  }

  p {
    margin: 0 0 $base-spacing;
    max-width: $spacing-big - 4;
  }

  .copyright {
    font-size: 0.8rem;
  }
}
