.footer {
  color: $color-dark-grey;
  font-size: .9rem;
  max-width: $spacing-big * 1.5;
  padding: $base-spacing 0 $base-spacing;
  text-align: left;

  p {
    margin: 0 0 $base-spacing;
    max-width: $spacing-big - 6; 
  }

  &:before {
    background-color: $color-dark-grey;
    content: "";
    display: block;
    height: 1px;
    margin: 0 0 $spacing-2x;
    width: 2rem;
  }

  @include breakpoint("small") {
    padding-top: $spacing-2x;
  }
}
