.header__info {
  color: $color-white-grey;

  &:after {

    background-color: $color-mid-grey;
    content: "";
    display: none;
    margin: $base-spacing 0;
    @include size(2rem, 2px);

    @include breakpoint("medium") {
      display: block;
      margin: ($base-spacing * 1.5) 0;
    }

    @include breakpoint("large") {
      margin: $spacing-2x 0;
    }
  }

  @include breakpoint("medium") {
    padding-left: 6px;
  }
}

.header__info p {
  max-width: $spacing-big;
}
