.header__info {

  &:after {
    background-color: $color-mid-grey;
    content: "";
    display: block;
    margin: 2rem 0;
    @include size(2rem, 2px);
  }
}

nav li {
  margin-bottom: .5rem;
  font-size: .95em;
}
