.header__info p {
  max-width: $big-base-spacing;
}

.header__nav {
  display: none;
}

.header__item {
  font-size: .95em;
  margin-bottom: $half-spacing;

  &.active a {
    color: $color-simple-red;
    font-weight: 500;

    &:before {
      content: "→";
      left: $base-spacing;
      position: absolute;
    }
  }
}

@media (min-width: $medium-screen) {
  .header__info {

    &:after {
      background-color: $color-mid-grey;
      content: "";
      display: block;
      margin: ($base-spacing * 1.5) 0;
      @include size(2rem, 2px);
    }
  }

  .header__nav {
    display: block;
  }
}

@media (min-width: $big-screen) {
  .header__info {

    &:after {
      margin: $double-spacing 0;
    }
  }
}
