.items {
  max-width: $spacing-big * 1.5;
}

.item-category-title {
  background-color: $color-almost-black;
  border-radius: $base-border-radius;
  color: $color-white-grey;
  margin: $spacing-4x 0 $base-spacing;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  width: min-content;

  &:first-of-type {
    margin-top: 0;
  }

  @include breakpoint("medium") {
    margin-top: $spacing-big / 3;
  }
}

.item-category-title__id {
  position: relative;
  bottom: 15rem;

  @include breakpoint("medium") {
    bottom: 10rem;
  }
}
