.item {
	margin-bottom: 100px;
}

.item__main {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(10, 1fr));
    grid-template-columns: repeat( auto-fit, minmax(10, 1fr));
    margin-bottom: 25px;
}

.item h2 {
	background-color: $mortar;
	border-radius: 4px;
	color: $kim;
	grid-column: 1 / 6;
	grid-row: 3;
	min-width: fit-content;
	padding: 10px;
	z-index: 20;
}

.item img {
	grid-column: 3 / 11;
	grid-row: 2 / 11;
	border-radius: 5px
}

.item p {
	grid-column: 2 / 9;
	grid-row: 10;
	max-width: fit-content;
}