.item {
  margin-bottom: ($big-base-spacing) / 6;

  .item__name {
  	background-color: $color-kim-beige;
  	border-radius: .25rem;
  	color: $color-mortar-purple;
  	font-size: 1.7rem;
  	grid-column: 1 / 6;
  	grid-row: 3;
  	padding: .5rem 1rem;
  	white-space: nowrap;
  	z-index: $level-1-z-index;
  }

  .item__image {
    border-radius: .25rem;
    grid-column: 3 / 11;
    grid-row: 2 / 11;
  }

  .item__description {
  	color: $color-dark-grey;
    margin-left: $quadruple-spacing;
  	max-width: $big-base-spacing;
  }
}

.item__main {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(10, 1fr));
  grid-template-columns: repeat( auto-fit, minmax(10, 1fr));
  margin-bottom: $base-spacing;
}
