.items {
  margin-bottom: 32rem;
  max-width: $spacing-big * 1.5;

  @include breakpoint("medium") {
    margin-bottom: 23rem;
  }
}

.item-category-title {
  color: $color-almost-black;
  border-bottom: 4px solid $color-almost-black;
  margin-bottom: $base-spacing;
  padding-bottom: 4px;
  white-space: nowrap;
  width: min-content;
}
