header {
  max-width: 500px;
  position: fixed;
  padding: 2rem;
}

main {
  background-color: #f0f0f0;
  left: 500px;
  padding: 3rem 2rem 3rem 2rem;
  position: absolute;
  right: 0;
}

.items {
	max-width: 800px;
}