.nav {

  @include breakpoint("medium") {
    display: block;
  }
}

.menu-button, .menu-button:hover {
  background-color: $color-light-grey;
  border: 3px solid $color-almost-black;
  border-radius: 1.5rem;
  color: $color-almost-black;
  margin: $spacing-half 0 $base-spacing;
  padding: ($spacing-quarter * 1.25) $spacing-half $spacing-quarter;
  position: fixed;
  right: $spacing-half;
  top: $spacing-half;
  z-index: $level-3-z-index;

  &.menu-open {

    &:before {
      content: 'Hide ';
    }
  }

  @include breakpoint("x-small") {
    right: $base-spacing;
  }

  @include breakpoint("medium") {
    display: none;
  }
}

.nav__items {
  background-color: $color-almost-black-transparent;
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  padding: $spacing-3x $base-spacing $base-spacing;
  position: fixed;
  text-align: right;
  width: 100vw;
  z-index: $level-2-z-index;

  @include breakpoint("medium") {
    display: block;
    height: calc(75vh - 12rem);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    padding: 0 6px 0;
    position: static;    
    text-align: left;
    width: auto;

    &::-webkit-scrollbar { 
      width: 0 !important 
    }
  }
}

.scroll-arrow {

  &:after {
    animation: arrow-bounce 1s;
    animation-iteration-count: infinite;
    bottom: 5px;
    color: $color-white-grey;
    content: "↓";
    display: none;
    font-size: 1rem;
    position: absolute;

    @include breakpoint("medium") {
      display: block;
    }
  }
}

@keyframes arrow-bounce {
  0% { bottom: 5px; }
  50% { bottom: -5px; }
  100% { bottom: 5px; }
}

.nav__list {
  list-style-type: none;
}

.nav__category-title {
  color: $color-white-grey;
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: $spacing-half;

  & > a {
    color: inherit;
  }

  &:nth-of-type(n+2) {
    margin-top: $base-spacing + 1;
  }
}

.nav__item {
  font-size: 0.95rem;
  margin-bottom: $spacing-half;

  &.active a {
    color: $color-simple-red;
    font-weight: 500;

    &:before {
      content: "→";
      margin-right: $spacing-half;
      transform: rotate(180deg);

      @include breakpoint("medium") {
        left: $base-spacing;
        transform: rotate(0);
      }
    }
  }
}
