.nav {

  @include breakpoint("medium") {
    display: block;
  }
}

.menu-button, .menu-button:hover {
  background-color: $color-light-grey;
  border: 3px solid $color-almost-black;
  border-radius: 1.5rem;
  color: $color-almost-black;
  margin: $spacing-half 0 $base-spacing;
  padding: ($spacing-quarter * 1.25) $spacing-half $spacing-quarter;
  position: fixed;
  right: $spacing-half;
  top: $spacing-half;
  z-index: $level-3-z-index;

  &.menu-open {

    &:before {
      content: 'Hide ';
    }
  }

  @include breakpoint("x-small") {
    right: $base-spacing;
  }

  @include breakpoint("medium") {
    display: none;
  }
}

.nav__items {
  background-color: $color-almost-black-transparent;
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  padding: 0 $spacing-2x $base-spacing;
  position: fixed;
  text-align: right;
  width: 100vw;
  z-index: $level-2-z-index;

  &::-webkit-scrollbar { 
    display: none;
    height: 0;
    width: 0;
  }

  @include breakpoint("medium") {
    border-top: 1px solid $color-mid-grey;
    border-bottom: 1px solid $color-mid-grey;
    display: block;
    height: calc(75vh - 12rem);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    padding: 0 6px 0;
    position: static;    
    text-align: left;
    width: auto;
  }
}

.scroll-arrow {

  &:after {
    animation: arrow-bounce 3.5s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    background-color: $color-dark-grey;
    border-radius: 3px;
    bottom: -15px;
    color: $color-white-grey;
    content: "↓ Scroll for more gear ↓";
    display: none;
    font-size: 0.9rem;
    padding: 5px 10px;
    position: absolute;

    @include breakpoint("medium") {
      display: block;
    }
  }
}

@keyframes arrow-bounce {
  0% { bottom: -15px; }
  6.25% { bottom: -25px; }
  12.5% { bottom: -15px; }
  18.75% { bottom: -25px; }
  25% { bottom: -15px; }
  100% { bottom: -15px; }
}

.nav__list {
  list-style-type: none;
  padding-top: 12rem;

  @include breakpoint("medium") {
    padding-top: $spacing-half;
  }
}

.nav__category-title {
  color: $color-white-grey;
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: $spacing-half;

  & > a {
    color: inherit;
  }

  &:nth-of-type(n+2) {
    margin-top: $base-spacing + 1;
  }
}

.nav__item {
  color: $color-white-grey;
  font-size: 0.95rem;
  margin-bottom: $spacing-half;

  & > a {
    color: inherit;

    @include breakpoint("medium") {
      &:hover {
        color: $color-simple-red;
      }
    }
  }

  &.active a {
    color: $color-simple-red;
    font-weight: 500;

    &:before {
      content: "→";
      margin-right: $spacing-half;
      transform: rotate(180deg);

      @include breakpoint("medium") {
        left: $base-spacing;
        transform: rotate(0);
      }
    }
  }
}
