.site-info {
  color: $color-white-grey;

  @include breakpoint("medium") {
    margin-bottom: $spacing-2x;
    padding-left: 6px;
  }
}

.site-info__title {
  font-weight: 700;
}

.site-info__description {
  max-width: $spacing-big;
}
